<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10157787003-j4d3vsj4nk3tcop3u6dkfkeal9ajonfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10157787003-j4d3vsj4nk3tcop3u6dkfkeal9ajonfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAnO_BmtzRXBprZAgTphrXktff7wx3j2mY</string>
	<key>GCM_SENDER_ID</key>
	<string>10157787003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demoApp</string>
	<key>PROJECT_ID</key>
	<string>userlist-d7b56</string>
	<key>STORAGE_BUCKET</key>
	<string>userlist-d7b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10157787003:ios:64a0173e9262409c67dfde</string>
</dict>
</plist>